<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- ReachOut Settings -->
    <add key="instanceID" value="Alnylam" />
    <add key="standardlogger" value="standardlogger" />
    <add key="ableauthurl" value="https://localhost:5001" />
    <add key="ableauthuser" value="apiuser@reachout.cloud" />
    <add key="ableauthsecret" value="WttfsityXkwp5Ye3xsNNzWFjQ0UYJoAve+Ou3rPBowLfJ/2rrA==" />
    <add key="ableauthaction" value="api/Auth/authenticate" />
    <add key="ableveevaaction" value="api/VeevaPromoMats/UpdateDocumentItems" />
    <add key="ablepostitemsaction" value="api/Products/PostVeevaItems" />
    <add key="reachoutclientid" value="Vertex" />
    <!-- ReachOut Settings -->

    <!-- General -->
    <!-- Debug will pull from Veeva but not actually submit to ReachOut Auth -->
    <add key="debug" value="false" />
    <add key="allowaddproduct" value="false" />
    <add key="runatstartup" value="true" />
    <!-- Genearl -->
    
    <!-- Veeva API Settings -->
    <add key="veevaapienabled" value="false" />
    <add key="veevaapisweeptime" value="11:00PM" />
    <add key="veevasweeptimeoverlaphours" value="3" />
    <add key="veevaapiversion" value="v23.1" />
    <add key="veevaurl" value="https://alnylam-promomats.veevavault.com" />
    <add key="veevauser" value="sbpack.integration@alnylam.com" />
    <add key="veevapassword" value="7`do'K@q6/4pTWr;" />
    <add key="veevaresultpagesize" value="100" />
    <!-- Veeva API Settings -->
    
    <!-- File Drop Settings -->
    <add key="dropfileenabled" value="true" />
    <add key="dropfilepollfrequency" value="1" />
    <add key="dropfilearchiveenabled" value="true" />
    <add key="dropfiledirectory" value="D:\Development\ReachOut\VeevaDrop" />
    <!-- File Drop Settings -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>